* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
ul:not([class]) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
li:not([class]) {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
a {text-decoration: none;}
img {vertical-align: bottom;}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
html {
	font-size: calc(6px + 1vmin);
}
body {
	font-family: 'Ubuntu Condensed', sans-serif;
	background: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	line-height: 1.6;
	height: 100vh;
}
main {
	width: 100%;
	height: 100%;
}
header {
	position: fixed;
	top: 0;
	z-index: 1;
	background: rgba(0,0,0,.7);
	width: 100%;
}
.navbar ul {
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.navbar ul li {
	padding: 1rem;
}
.navbar ul li a {
	text-transform: uppercase;
	color: #f4f4f4;
}
.navbar ul li a:hover {
	color: #777;
}
.para-container {
	position: absolute;
	width: 100%;
	height: 100vh;
}
.scene {
	margin: auto;
}
section {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	width: 100%;
	min-height: 100vh;
	padding: 5vw;
}
section h1 {
	font-size: 3rem;
}
section p {
	font-size: 1.2rem;
	padding-bottom: 1rem;
}
section > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.image {
	min-width: 25%;
	margin-bottom: 20px;
}
section img:not([class]) {
	width: calc(100% - 20px);
	border-radius: 5px;
	margin: 0 10px;
}
section img:not([class]):hover {
	opacity: .7;
	cursor: pointer;
}
.ya-share2 {
	position: absolute;
	bottom: 50px;
}
.share {
	position: absolute;
	bottom: 75px;
}
.modal {
	display: none;
	padding-top: 4rem;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.9);
}
.modal-content {
	margin: auto;
	display: block;
	max-width: 90%;
	max-height: 90%;
}

.modal-content{
	-webkit-animation-name: zoom;
	        animation-name: zoom;
	-webkit-animation-duration: .6s;
	        animation-duration: .6s;
}
@-webkit-keyframes zoom {
	from{-webkit-transform: scale(0);transform: scale(0)}
	to{-webkit-transform: scale(1);transform: scale(1)}
}
@keyframes zoom {
	from{-webkit-transform: scale(0);transform: scale(0)}
	to{-webkit-transform: scale(1);transform: scale(1)}
}
.close {
	position: absolute;
	top: 2rem;
	right: 1.5rem;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	-webkit-transition: .3s;
	transition: .3s;
	cursor: pointer;
}
@media screen and (max-width: 1024px) {
	section > div {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	section img {
	width: 60%;
	margin-left: 0;
	}
	.para-container {
		display: none;
	}
}